*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Play', sans-serif;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  outline: none;
  -webkit-tap-highlight-color: #000;
}

.main-container {
  height: 100vh;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.backdrop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.img-loading {
  width: 6rem;
}

.img-call {
  position: absolute;
  top: 38%;
  right: 50%;
  transform: translateX(50%);
  width: 2rem;
}

.img-chat {
  position: absolute;
  width: 3rem;
  right: 1.2rem;
}

.img-x {
  height: 100%;
}

.chat-container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 35%;
  height: 35%;
  padding: 1rem;
  border-radius: 6px;
  backdrop-filter: blur(3px);
  border: 2px solid #ffffff1a;
  background-color: transparent;
}

.chat-header {
  height: 3rem;
  padding-bottom: 1em;
  border-bottom: 1px solid #ffffff1a;
}

.chat-messages {
  height: calc(100% - 6rem);
  overflow: scroll;
}

.chat-message-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.2em;
}

.chat-player {
  display: inline-block;
  margin-right: 0.5em;
}

.chat-message {
  word-break: break-word;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #ffffff1a;
}

input {
  all: unset;
}

.chat-text {
  width: 100%;
  height: 100%;
  padding: 0 0.6em;
  background-color: #ffffff1a;
}

.chat-send {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
}